{% extends 'blog/base.html' %}
{% block content %}
	<div class = "row">
		<div class = "col-md-3">
			<table class = "table">
				<thead><tr><th>Posted On</th></tr></thead>
			</table>
		</div>
	</div>
	{% for post in posts %}
        <div class = "row">
			<div class = "col-md-3" >
				<div class="date" style = "margin-top:15px;">
					{{ post.published_date }}
				</div>
			</div>
			<div class = "col-md-6">
				<h1 style = "margin-top:10px;"><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
				<p>{{ post.text|linebreaksbr }}</p>
			</div>
			<div class = "col-md-3">
			</div>
		</div>
    {% endfor %}
{% endblock %}